.hero-section {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.hero-section .card-img,
.hero-section .card-img-top {
  min-height: 28vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hero-section .p-relative {
  position: relative;
}

.hero-section .p-relative .fa-pen-square {
  /* edit cover photo */
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: xx-large;
}

.hero-section .profile-img-container {
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 35%;
  left: 3%;
  height: 175px;
  width: 175px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid white;
}

.hero-section .hero-section-columns {
  display: flex;
}

.hero-section .btn-link {
  padding: 0;
  color: #007bff;
  font-weight: 700;
  text-align: left;
}

.hero-section .btn-link:hover,
.footer .btn-link:focus {
  color: #007bff;
}

.hero-section .badge {
  padding: 7px 15px;
  margin: 3px 7px 3px 0;
  font-size: medium;
}

.hero-section .badge-light {
  background-color: rgba(0, 0, 0, 0);
  color: gray;
  border: 1px solid gray;
}

.hero-section .fas {
  float: right;
}

.hero-section .work-history {
  font-weight: 700;
  transform: translateX(50%);
}

.hero-section .work-history img {
  max-width: 50px;
}
