.single-education * {
    margin: 0;
    padding: 0;
  }

.single-education p {
    font-size: 14px;
  }

.education-page button{
    border-style: none;
    border: none;
    background-color: #fff;
    font-size: 20px
}
.education-pencil-icon {
  border-style: none;
  border: none;
  background-color: #fff;
  font-size: 20px;
  padding: 10px;
  margin: -9px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}