.single-post *{
margin: 0;
padding: 0;
}
.single-post .text p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}
.post{
    word-wrap: break-word;
}

.read-more{
    border: none;
    border-style: none;
    color: rgba(27, 27, 131, 0.294);
    background-color: #fff;
    text-decoration: underline;
}

.fa-circle{
    color: grey;
    font-size: 5px;
}