.activity-section .activity-item {
  flex-basis: 50%;
}
.activity-section p {
  font-size: 12px;
}
.activity-section .title {
  max-width: 400px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.activity-section .font-grey {
  color: rgba(0, 0, 0, 0.6);
  font-size: 10px;
}

.activity-section i {
  font-size: 4px;
  margin: 5px;
}
