.upload-btn{
    border: none;
    background-color: #fff;
    width: 40px;
    
}

.upload-btn:hover{
    border-radius: 30%;
    background-color: rgba(0, 0, 0, 0.1);
}
.profile-image-container{

    background-position: center center;
        background-size: cover;
        width: 50px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 2px;
}