.featured-section button {
  border-style: none;
  border: none;
  background-color: #fff;
  font-size: 20px;
  padding: 0 10px;
}
.featured-section .carousel {
  overflow-x: scroll;
  flex-wrap: nowrap;
}
