.top-navbar * {
  margin: 0;
  padding: 0;
}

.top-navbar {
  background-color: white;
  min-height: 52px;
}
.top-navbar .fa-linkedin {
  font-size: 34px;
  color: #0f65c3;
}
.top-navbar .search-container-big {
  background-color: #eef3f7;
}
.top-navbar input {
  border: none;
  background-color: #eef3f7;
  font-size: 12px;
  outline: none;
  width: 60px;
}
.top-navbar li {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-navbar ul li:hover a > *,
.top-navbar .search-container-small:hover * {
  color: black;
  cursor: pointer;
}
.top-navbar a {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(102, 102, 102);
}

.top-navbar i,
.top-navbar span {
  color: rgb(102, 102, 102);
}

.top-navbar span {
  font-size: 12px;
}
#premium {
  display: flex;
  align-items: center;
  min-width: 100px;
}
#premium a {
  color: rgb(145, 89, 7);
}
